button.main-header-link {
  color: #424242;
  transition: all 0.3s ease;
  text-decoration: none;
  background-color: white;

}

button.main-header-link:hover,
button.main-header-link:active {
  color: #4CAF50;
  background-color: white;
}